<!DOCTYPE html>

<html>

	<head>
		<title>plantz.</title>
		<link rel="stylesheet" type="text/css" href="/static/rickshaw.css">
		<link rel="stylesheet" type="text/css" href="/static/pure.css">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script type="text/javascript" src="/static/js/require.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>

	<body>
		<h4 class="muted">some plant stats</h4>


		<div class="charts">
			<div id="ph-view"></div>
			<div id="temp-view"></div>
			<div id="level-view"></div>

		</div>

	</body>

</html>