<!DOCTYPE html>

<html>

	<head>
		<title>plantz.</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script type="text/javascript" src="/static/js/require.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>

	<body>
		<h4 class="muted">sum plant stats 4 u</h4>

		<div id="state-view"></div>
		<div class="pure-g">
			<div class="charts">
				<div class="pure-u-1-2">
					<div class="chart-wrap" id="ph-view"></div>
				</div>
				<div class="pure-u-1-2">
					<div class="chart-wrap" id="temp-view"></div>
				</div>
				<div class="pure-u-1-2">
					<div class="chart-wrap" id="level-view"></div>
				</div>
				<div class="now pure-u-1-2">
					<img src="/static/now.jpg"/>
				</div>
			</div>
		</div>

		<div class="pure-g">
			<div class="pure-u-1-1" id="timelapse">
				<canvas></canvas>

				<a href="javascript:void(0)" 
					class="run-timelapse">
					Run Timelapse
				</a>
			</div>

		</div>

	</body>

</html>
