<!DOCTYPE html>

<html>

	<head>
		<title>plantz.</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script type="text/javascript" src="/static/js/require.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>

	<body>
		<h4 class="muted">sum plant stats 4 u</h4>


		<div class="charts">
			<div class="chart-wrap" id="ph-view"></div>
			<div class="chart-wrap" id="temp-view"></div>
			<div class="chart-wrap" id="level-view"></div>

		</div>

	</body>

</html>